.curso-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5c5c5c;
  border-radius: 8px;
}

.curso-card {
  border: 2px solid #000000;
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.curso-titulo {
  color: #693f12;
  font-size: 52px;
  font-family: "Alfa Slab One", serif;
  text-decoration: underline;
}

.curso-descripcion {
  color: rgb(0, 0, 0);
  font-size: 17px;
}
      
.subtitulos {
  color: #330e05;
  font-size: 20px;
  text-decoration: underline;
}
        
.info-caja {
  background-color: #5c5c5c8e;
}
.profesor-info{
  color: rgb(0, 0, 0);
  font-size: 17px;
}
        
.asistencia-text {
  color: rgb(0, 0, 0);
  font-size: 17px;
}
      
.tabla-header {
  background-color: #5c5c5cc9 !important;
}